{{!-- <div class="imagesContainer" >
    <div class="imageList" id="imageList"> --}}
        <div class="imageContainer" id="post-{{id}}">
            <p class="card-title">{{title}}</p>
            <img class="card-image" src={{thumbnail}} alt="">
            <p class="card-text">{{description}}</p>
            <a href="/post/{{id}}" class="anchor-buttons">Post Details</a>
        </div>
    {{!-- </div>
</div> --}}